.container {
  border-top: 1rem solid;
  border-color: var(--color-border);
  background-color: var(--color-bg2);
  padding: 2vw 7.5vw;
  position: sticky;
  z-index: 10;
  top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  font-size: clamp(1rem, 5vw, 1.5rem);
  padding: min(1vw, 19px);
  color: var(--fg);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  color: var(--color-icon);
}
.svgicon {
  width: 3em;
  height: 3em;
}

.svgicon path,
.svgicon polygon,
.svgicon rect {
  fill: var(--color-icon);
}

.button {
  background-color: var(--color-button);
  border-radius: 5px;
}

/* .container2 padding: min(4vw, 76px) min(13vw, 134px) 0; */
